html, body {
  background: black;
  color: white;
  font: 64px sans-serif;
  line-height: 1.5;
  margin: 0;
}

* {
  font-size: inherit;
}

button {
  opacity: 0.8;
}

button:active {
  opacity: 1;
}

.content-container {
  position: fixed;
  top: 50%;
  width: 100%;
}

.content-container.flip-y {
  bottom: 50%;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

p {
  margin: 0;
  padding: 0.375em 0;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.indicator {
  background: #444;
  border-bottom: 0.75em solid #222;
  border-top: 0.75em solid #222;
  height: 1.5em;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.flip-button {
  background: #3776e6 url(/www/img/flip.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 75%;
  border: 0.05rem solid rgba(255, 255, 255, 0.2);
  bottom: 0.25rem;
  height: 1rem;
  position: fixed;
  right: 0.25rem;
  width: 1rem;
  z-index: 1000;
}

.content {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  margin: -2px 10%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.status-indicator {
  background: #888;
  border: 0.05rem solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  bottom: 1.5rem;
  height: 0.5rem;
  opacity: 0.8;
  position: fixed;
  right: 0.25rem;
  width: 0.5rem;
  z-index: 1000;
}

.status-indicator.error {
  background: #F04848;
}

.status-indicator.open {
  background: #72cc04;
}
